*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f7f6;
padding:20px;
color:#111827;
}

/* SIDEBAR */
.sidebar{
position:fixed;
left:-270px;
top:0;
width:260px;
height:100%;
background:#fff;
padding:20px;
box-shadow:0 0 20px rgba(0,0,0,.1);
transition:.3s;
z-index:999;
}

.sidebar.active{
left:0;
}

.logo-box{
margin-bottom:25px;
}

.sidebar a{
display:block;
padding:12px;
margin-bottom:8px;
text-decoration:none;
color:#333;
border-radius:10px;
}

.sidebar a:hover{
background:#e8f8ee;
}

.logout-btn{
width:100%;
padding:14px;
border:none;
background:#ef4444;
color:white;
border-radius:12px;
margin-top:20px;
}

/* TOPBAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.menu-btn{
font-size:28px;
cursor:pointer;
}

.top-right{
display:flex;
align-items:center;
gap:15px;
}

.notification{
position:relative;
font-size:24px;
}

.notification span{
position:absolute;
top:-8px;
right:-10px;
background:red;
color:white;
width:18px;
height:18px;
border-radius:50%;
font-size:11px;
display:flex;
align-items:center;
justify-content:center;
}

.avatar{
width:45px;
height:45px;
border-radius:50%;
background:#dff7e7;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
color:#16a34a;
}

/* WELCOME CARD */
.welcome-card{
background:#edf8f1;
padding:20px;
border-radius:20px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.vault-icon{
font-size:50px;
}

/* STATS */
.stats-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.stat-card{
background:white;
padding:20px;
border-radius:18px;
border:1px solid #e5e7eb;
}

.stat-card h4{
color:#64748b;
margin-bottom:10px;
}

.stat-card h2{
margin-bottom:5px;
}

/* VIP */
.vip-card{
background:white;
padding:20px;
margin-top:20px;
border-radius:20px;
border:1px solid #e5e7eb;
}

.vip-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.active-badge{
background:#dcfce7;
color:#16a34a;
padding:6px 12px;
border-radius:20px;
font-size:12px;
font-weight:bold;
}

.vip-details{
display:flex;
justify-content:space-between;
margin-top:15px;
margin-bottom:15px;
}

.progress-text{
margin-bottom:10px;
color:#666;
}

.progress-bar{
height:8px;
background:#e5e7eb;
border-radius:20px;
overflow:hidden;
}

.progress-fill{
width:66%;
height:100%;
background:#16a34a;
}

/* BUTTONS */
.action-buttons{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-top:20px;
}

.deposit-btn,
.withdraw-btn{
padding:15px;
border:none;
border-radius:12px;
color:white;
font-weight:bold;
}

.deposit-btn{
background:#16a34a;
}

.withdraw-btn{
background:#ef4444;
}

/* TRANSACTIONS */
.transactions-box{
background:white;
margin-top:20px;
padding:20px;
border-radius:20px;
border:1px solid #e5e7eb;
}

.tx-header{
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

.tx-header span{
color:#16a34a;
font-weight:bold;
}

.tx-item{
display:flex;
justify-content:space-between;
padding:12px 0;
border-bottom:1px solid #eee;
}

.green{
color:#16a34a;
font-weight:bold;
}

.red{
color:#ef4444;
font-weight:bold;
}

/* BOTTOM NAV */
.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:10px;
border-top:1px solid #ddd;
}

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;
color:#666;
font-size:14px;
}

.active-nav{
color:#16a34a;
font-weight:bold;
}

.wallet-card{
background:white;
padding:20px;
border-radius:20px;
margin-top:20px;
border:1px solid #e5e7eb;
  }
